 <div class="post_list">
    <hr class="hr1">
      <% post.each do |post| %>
        <li class="image">
          <%= link_to post_path(post) do %>
            <% if post.image.attached? %>
              <% post.image.first(1).each do |image| %>   <!--fisrt(1)で初めの一枚だけ表示-->
              <%= image_tag image, size:'80x50' %>
              <% end %>
            <% else %>
              <%= image_tag "/no-image.png", size: '80x60' %>
            <% end %>
          <% end %>
        </li>
        <li class="title"><%= link_to post.title, post_path(post) %></li>
        <li class="body"><%= post.body.truncate(30) %></li>   <!--truncateヘルパーメソッドで表示文字数を制限-->
        <li class="time"><%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
          <i class="fas fa-heart" style="color: red;"></i><%= post.favorites.count %>
          <i class="fa-regular fa-comment-dots" style="color: #696969;"></i><%= post.comments.count %>
        </li>
        <li class="body"><%= render_with_hashtags(post.caption) %></li>
      <hr class="hr1">
      <% end %>
      <%= paginate post %>
</div>