<h1>投稿編集画面</h1>

<%= form_with model: @post, url: post_path, method: :patch, local: true do |f| %>

<td><%= f.text_field :title %></td>
<br>
<td><%= f.text_area :body %></td>
<br>
<td><%= f.file_field :image %></td>
<br>
<td><%= f.submit '変更を保存' %></td>
<br>
<% end %>