
<div class="row justify-content-md-center">
  <%= form_with model: @post, url: post_path, method: :patch, local: true do |f| %>

      <p>タイトル</p>
      <p><%= f.text_field :title, size: 80 %></p>

      <p>内容</p>
      <p><%= f.text_area :body, size: "80x15" %></p>

      <p>#ハッシュタグ</p>
      <p><%= f.text_area :caption, size: "80x3" %></p>

    <div class="row justify-content-md-center">
      <div><%= f.file_field :image, multiple: true %></div>
    </div>

<br>
    <div class="row justify-content-md-center">
      <div class="button-space">
      <%= f.submit '変更を保存', class: "btn btn-success btn-md" %>
      <%= link_to '記事を削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-md" %>
      </div>
    </div>
      

  <% end %>
</div>