<div class="container">
<div class="row justify-content-center">
     <div class='col-10'>
<h3 class="section-ttl font-weight-bold">#<%= @tag.hashname %></h3>

    <table class = "table">
          <% @posts.each do |post| %>
            <tr>
               <td><%= link_to post_path(post) do %>
                     <% if post.image.attached? %>
                     <%= image_tag post.image, size:'80x50' %>
                     <% else %>
                     <%= image_tag "no-image.png", size:'80x50' %>
                     <% end %>
                   <% end %>
               </td>
               <td><%= link_to post.title, post_path(post) %></td>
               <td><%= post.body %></td>
            </tr>
          <% end %>
    </table>
      </div>
    </div>
    </div>