<div class="container">
<div class="row justify-content-center">
     <div class='col-10'>
         <% if params[:category_id] %>
            <h3 class="section-ttl font-weight-bold"><%= @category.name %>の投稿一覧</h3>
            <h4 class="section-ttl">(全<%= @all_posts_count %>件)</h4>
　　　　 <% else %>
			<h3 class="section-ttl font-weight-bold">投稿一覧</h3>
			<h4 class="section-ttl">(全<%= @all_posts_count %>件)</h4>
		 <% end %>

<!--投稿一覧-->
    <table class = "table">
       <tr>
          <th></th>
          <th>タイトル</th>
          <th>内容</th>
          <th>カテゴリー</th>
       </tr>

        <% if @posts.first %>
           <% @posts.each do |post| %>
             <tr>
               <td><%= link_to post_path(post) do %>
                     <% if post.image.attached? %>
                     <%= image_tag post.image, size:'80x50' %>
                     <% else %>
                     <%= image_tag "no-image.png", size:'80x50' %>
                     <% end %>
               </td>
               <td><%= link_to post.title, post_path(post) %></td>
                   <% end %>

               <td><%= post.body %></td>
               <td><%= link_to post.category.name %></td>
              </tr>
           <% end %>
           	<%= paginate @posts %>
        <% else %>
			<h4>対応する投稿はありませんでした。</h4>
		<% end %>
    </table>
  </div>
</div>
</div>