<div class="container">
  <div class="post-show">
    <br>
    <div class="col-8">
      <h4 class="section-ttl font-weight-bold"><%= @post.title %></h4>
      <li class="time"><%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></li>
      <li class="cat">
        エリア：
          <%= link_to posts_path(category_id: @category.id) do %>
          <%= @category.name %>
          <% end %>
      </li>
    </div>
    <hr class="hr2">
    <div class="col-8">
      <%= simple_format(@post.body) %><!--ヘルパーメソッド"simple_format"でフォームの改行反映-->
    </div>
    <div class="row justify-content-center">
      <% if @post.image.attached? %>
        <% @post.image.each do |image| %>
        <%= image_tag image, width: '50%' %>
        <% end %>
      <% end %>
    </div>
    <br>
    <br>
    <div class="col-12">
      <div class="tag"><%= render_with_hashtags(@post.caption) %></div> <!--リンク付きハッシュタグ-->
    </div>
    <br>
    <li class="edit-btn">
        <% if @post.member == current_member %>
          <%= link_to edit_post_path(@post), class: "btn btn-Light btn-sm" do %>
           <i class="fa fa-pen-to-square">編集</i>
          <% end %>
        <% end %>
    </li>
    <li class="bookmark">
       <% if member_signed_in? %>
       　<div class="favorite_<%= @post.id %>">
           <%= render "public/favorites/favorite", post: @post %>
         </div>
       <% end %>
       </li>
  <hr class="hr2">
    <br>

    <div class="col-8">
      <div class="counter">
       <%= render "public/comments/counter", post: @post %>
      </div>
    </div>
    <div class="col-8">
      <div class="comment">
        <%= render "public/comments/index", post: @post %>
        <hr class="hr2">
      </div>
    </div>


    <% if member_signed_in? %>
      <div class="col-8">
        <%= render "public/comments/form", post: @post, comment: @comment %>
      </div>
    <% end %>

</div>
</div>

