<div class="container">
      <br>
  <div class="row justify-content-center">
    <h4 class="section-ttl font-weight-bold"><%= @post.title %></h4>
  </div>

  <div class="row justify-content-center">

    <%= simple_format(@post.body) %>  <!--ヘルパーメソッド"simple_format"でフォームの改行反映-->
    <%= render_with_hashtags(@post.caption) %> <!--リンク付きハッシュタグ-->
  </div>

  <div class="row justify-content-center">
    <% if @post.image.attached? %>
        <% @post.image.each do |image| %>
    <td><%= image_tag image, width: '30%', height: '30%' %></td>
        <% end %>
    <% end %>
  </div>


<li class="bookmark">
   <% if member_signed_in? %>
   　<div class="favorite_<%= @post.id %>"><%= render "public/favorites/favorite", post: @post %></div>
   <% end %>
   </li>

  <div class="row justify-content-end">
    <% if @post.member == current_member %>
       <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-success btn-sm" %></td>
       <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-sm" %></td>
    <% end %>


  </div>


  <div class="row justify-content-center">
    <% if member_signed_in? %>
    <h6 class="font-weight-bold">コメント</h6>
    <p><%= form_with model:[@post, @comment], method: :post do |f| %></p>
    <p><%= f.text_area :body, size: "30x5" %></p>
    <p><%= f.hidden_field :post_id, value: @post.id %></p>
    <p><%= f.submit 'コメントする' %></p>
       <% end %>
    <% end %>
  </div>

    <br>

    <h6 class="font-weight-bold text-center">コメント一覧</h6>
    <table class = "table text-center">
        <tr>
      <% @comments.each do |comment| %>
       <td>
       <%= comment.body %>

      　<% if comment.member == current_member %>
       <%= link_to 'Destroy', comment_path(comment.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-sm" %>
       <% end %>
       </td>
       </tr>
      <% end %>
    </table>


</div>
