<div class="container">
  <div class="row justify-content-center">
    <h4 class="section-ttl font-weight-bold"><%= @post.title %></h4>
  </div>

  <div class="row justify-content-center">
    <!--リンク付きハッシュタグ-->
    <%= render_with_hashtags(@post.body) %>
  </div>

  <div class="row justify-content-center">
    <% if @post.image.attached? %>
    <td><%= image_tag @post.image, width: '30%', height: '30%' %></td>
    <% end %>
  </div>

  <div class="row justify-content-end">
    <% if @post.member == current_member %>
       <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-success btn-sm" %></td>
       <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-sm" %></td>
    <% end %>

    <!--ブックマーク-->
    <% if @post.favorited?(current_member) %>
        <!-- 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
        <%= link_to post_favorite_path(@post.id), method: :delete do %>
            <span><i class="fa-solid fa-heart"></i>︎</span>
        <% end %>
    <% else %>
        <!-- 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
        <%= link_to post_favorites_path(@post.id), method: :post do %>
            <span><i class="fa-regular fa-heart"></i></span>
        <% end %>
    <% end %>
  </div>


  <div class="row justify-content-center">
    <h6 class="font-weight-bold">コメント</h6>
    <p><%= form_with model:[@post, @comment], method: :post do |f| %></p>
    <p><%= f.text_area :body, size: "30x5" %></p>
    <p><%= f.hidden_field :post_id, value: @post.id %></p>
    <p><%= f.submit 'コメントする' %></p>

    <br>
    <table class = "table">
    <tr>
       <h6 class="font-weight-bold">コメント一覧</h6>
      <% @comments.each do |comment| %>
       <td>
       <%= comment.body %>
       <%= link_to 'Destroy', comment_path(comment.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-sm" %>
       </td>
       </tr>
      <% end %>
     <% end %>
    </table>
  </div>


</div>