<div class = "container col-lg-10">
  <h3><div class="d-inline mt-5 px-3">管理者ログイン</div></h3>
</div>
<br>
<div class='container col-lg-7'>
  <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
    <table class="table table-borderless">
      <tr>
        <div class="field">
          <td>
            <%= f.label :メールアドレス %>
          </td>
          <td>
            <%= f.text_field :email, autofocus: true, class: "email",:size=>"50" %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td>
            <%= f.label :パスワード %>
          </td>
          <td>
            <%= f.password_field :password, autocomplete: "off", class: "password",:size=>"50" %>
          </td>
        </div>
      </tr>
      <tr>
        <td></td>
        <div class="actions"><br />
          <td>
            <%= f.submit 'ログイン', class: 'btn btn-lg btn-primary px-5'%>
          </td>
        </div>
      </tr>
    </table>
  <% end %>
</div>