<script src="https://cdnjs.cloudflare.com/ajax/libs/image-map-resizer/1.0.10/js/imageMapResizer.min.js"></script>
<script>
  imageMapResize();
</script>

 <br>
<div class="row justify-content-center">
   <h6 class="section-ttl font-weight-bold">エリア別の投稿を見る</h6>
</div>

<div class="row justify-content-center">
  <div class="bg">
    <img src="map.png" usemap="#ImageMap" alt="" />
    <map name="ImageMap">
     <area shape="poly" coords="286,266,288,220,320,155,400,68,258,20,243,17,182,36,172,54,159,73,162,110,162,120,148,120,142,130,147,155,140,152,141,145,126,142,97,151,102,160,114,160,114,183,132,217,152,208,161,194,174,186,195,227,201,232,215,196,221,197,237,240,224,234,234,254,258,267,281,269,281,269" href="<%= posts_path(category_id: 1) %>"/>
     <area shape="poly" coords="173,56,165,53,151,55,136,56,132,65,110,49,92,47,64,77,24,68,11,67,29,116,47,139,34,139,35,156,49,158,68,139,80,155,94,159,97,156,96,151,100,146,104,148,108,132,116,135,121,130,121,136,125,141,130,139,139,144,143,132,144,123,147,117,161,118,165,113,158,94,161,72,172,65,173,58,173,58" href="<%= posts_path(category_id: 2) %>" />
     <area shape="poly" coords="434,45,412,54,412,64,411,73,413,77,415,90,425,93,420,100,439,96,460,89,490,120,504,177,520,195,549,212,578,230,579,225,559,196,548,201,547,177,568,175,570,186,583,159,602,136,609,133,605,122,619,112,607,89,594,90,587,77,579,78,575,103,569,104,549,88,567,67,573,59,568,52,547,44,539,53,524,55,495,50,468,50,436,45,437,45"href="<%= posts_path(category_id: 3) %>" />
     <area shape="poly" coords="580,235,571,257,580,279,591,289,582,345,582,374,593,385,601,364,618,337,644,298,657,266,657,257,604,217,586,216,572,252,573,252" href="<%= posts_path(category_id: 4) %>"/>
     <area shape="poly" coords="71,155,37,159,14,197,24,225,37,237,58,233,68,247,70,283,87,330,106,325,119,305,139,306,146,275,130,248,143,234,146,218,133,222,115,183,115,172,113,170,89,166,77,167,77,167" href="<%= posts_path(category_id: 5) %>"/>
     <area shape="poly" coords="296,246,284,276,261,295,264,328,291,321,314,339,323,339,367,364,387,337,374,330,361,299,365,283,337,252,295,245,295,245" href="<%= posts_path(category_id: 6) %>"/>
    </map>
  </div>
</div>
<br>
<br>
<div class="row justify-content-center">
   <h4 class="section-ttl font-weight-bold">新着投稿</h4>
</div>

<div class="row justify-content-center">
  <div class='col-10'>
    <table class = "table">
      <hr class="hr1">
           <tr>
              <th></th>
              <th>タイトル</th>
              <th>内容</th>
              <th>カテゴリー</th>
           </tr>
            <% if @posts.first %>
               <% @posts.each do |post| %>
                 <tr>
                   <td>
                     <%= link_to post_path(post) do %>
                         <% if post.image.attached? %>
                          <% post.image.first(1).each do |image| %>   <!--fisrt(1)で初めの一枚だけ表示-->
                          <%= image_tag image, size:'80x50' %>
                          <% end %>
                         <% else %>
                         <%= image_tag "/no-image.png", size:'80x50' %>
                         <% end %>
                   </td>
                   <td><%= link_to post.title, post_path(post) %></td>
                       <% end %>

                   <td><%= post.body %></td>
                  <td><%= link_to post.category.name, posts_path(category_id: post.category.id) %></td>
                  </tr>
               <% end %>

               	<%= paginate @posts %>
            <% else %>
    			<h4>対応する投稿はありませんでした。</h4>
   <hr class="hr1">
    		<% end %>
    </table>
  </div>
</div>

