 <div class="row justify-content-end">
    <div class="col-1">
      <%= link_to new_post_path, class: "text-decoration none color black" do %>
        <i class="fa-regular fa-square-plus fa-2x"></i>
      <% end %>
      </div>
 </div>

  <div class='row justify-content-start'>
    <div class='col-md-3 offset-sm-1'>
        <% if @member.profile_image.attached? %>
          <%= image_tag @member.profile_image, class: "rounded-circle", size:'100x100' %>
        <% else %>
          <%= image_tag "/no-image.png", class: "rounded-circle", size:'100x100' %>
        <% end %>

        <div class="row justify-content-end">
         <%= link_to edit_information_path, class: "btn btn-outline-secondary btn-md" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
        </div>

      	  <h5 class="section-ttl font-weight-bold"><%= @member.nick_name %></h5>
      	  <p><%= @member.introduction %></p>

      <br>
      <br>

      <h4 class="section-ttl font-weight-bold">投稿一覧</h4>
          <table class = "table">
               <tr>
                  <th></th>
                  <th>タイトル</th>
                  <th>内容</th>
               </tr>
           <% @post.each do |post| %>

               <td><%= link_to post_path(post) do %>
                     <% if post.image.attached? %>
                     <%= image_tag post.image, size:'80x50' %>
                     <% else %>
                     <%= image_tag "no-image.png", size:'80x50' %>
                     <% end %>
                   <% end %>
               </td>
               <td><%= link_to post.title, post_path(post) %></td>
               <td><%= post.body %></td>

           <% end %>
           <%= paginate @post %>
          </table>

    </div>

     <div class='col-md-6'>
     <h4 class="section-ttl font-weight-bold">ブックマーク一覧</h4>

      <!--カード表示-->
     <div class="row row-cols-1 row-cols-md-3">
      <% @favorite.each do |favorite| %>
         <div class="card w-15 shadow-sm" >
     　　       <%= link_to post_path(favorite.post) do %>
                  <% if favorite.post.image.attached? %>
                  <%= image_tag favorite.post.image, class:"card-img-top", size:'200x200' %>
                  <% else %>
                  <%= image_tag "/no-image.png", class:"card-img-top", size:'100x50' %>
                  <% end %>
              <% end %>
                   <div class="card-body">
                    <div class="row">

                     <div class="col-2">
                       <% if favorite.member.profile_image.attached? %>
                          <%= image_tag favorite.member.profile_image, class: "rounded-circle", size:'30x30' %>
                       <% else %>
                         <%= image_tag "/no-image.png", class: "rounded-circle", size:'30x30' %>
                       <% end %>
                     </div>


                      <div class="col-10">
                        <p class="card-title">
                          <%= link_to post_path(favorite.post), class:"text-dark" do %>
                          <strong><i class="far fa-flag"></i><span><%= favorite.post.title %></span></strong>
                          <% end %>
                        </p>
                        <p class="card-text"><%= render_with_hashtags(favorite.post.body) %></p>
                         <span><i class="fas fa-user"></i> By <%= favorite.post.member.nick_name %> ｜
                          <!--ブックマーク-->
                             <% if favorite.post.favorited?(current_member) %>
                                <!-- 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
                                <%= link_to post_favorite_path(favorite.post.id, favorite.member.id), method: :delete do %>
                                    <span><i class="fa-solid fa-heart"></i>︎</span>
                                <% end %>
                            <% else %>
                                <!-- 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
                                <%= link_to post_favorites_path(favorite.post.id, favorite.member.id), method: :post do %>
                                    <span><i class="fa-regular fa-heart"></i></span>
                                <% end %>
                            <% end %>
                         </span>
                      </div>

                 　  </div>
                   </div>
         </div>
      <% end %>
        <%= paginate @favorite %>
      </div>
        </div>