<!--ユーザー詳細-->
  <div class='row justify-content-start'>
    <div class='col-md-3 offset-sm-1'>
      <br>
       <div class="user">
         <div class="image">
        <% if @member.profile_image.attached? %>
          <%= image_tag @member.profile_image, style:"border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
        <% else %>
          <%= image_tag "/no-image.png", style:"border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
        <% end %>
          </div>

      	  <p class="nick_name"><%= @member.nick_name %></h5>
      	  <p class="introduction"><%= @member.introduction %></p>
      	</div>

      	  </div>


<div class='col-md-6'>
<div class="bg">
<br>
      <h4 class="section-ttl font-weight-bold">投稿記事</h4>
       <%= render 'public/posts/index', post: @posts %>
  

</div>
</div>
</div>
