<div class="container">
  <h4 class="section-ttl font-weight-bold">管理者トップ</h4>
   <div class='row justify-content-start'>
    <div class='col-md-6 offset-sm-1'>
       <h4 class="section-ttl font-weight-bold">最新投稿一覧</h4>


         <table class = "table">
          <tr>
              <th></th>
              <th>タイトル</th>
              <th>内容</th>
               <th>コメント数</th>
              <th>カテゴリー</th>
          </tr>

  	      <% @posts.each do |post| %>
          <tr>
               <td><%= link_to admin_post_path(post) do %>
                     <% if post.image.attached? %>
                       <% post.image.first(1).each do |image| %> 　　<!--fisrt(1)で初めの一枚のみ表示-->
                       <%= image_tag image, size:'80x50' %>
                       <% end %>
                     <% else %>
                     <%= image_tag "/no-image.png", size:'80x50' %>
                     <% end %>
               </td>
               <td><%= link_to post.title, admin_post_path(post) %></td>
                   <% end %>

               <td><%= post.body %></td>
               <td><%= post.comments.count %></td>      <!--countメソッドで投稿に紐付いているコメント数を出す-->
               <td><%= link_to post.category.name %></td>
              </tr>
           <% end %>
           	<%= paginate @posts %>
           	 </table>
    </div>

    <div class='col-md-3 offset-sm-1'>
           <h4 class="section-ttl font-weight-bold">最新コメント一覧</h4>
            <table class = "table">
             <tr>
              <% @comments.each do |comment| %>

               <td><%= link_to comment.body, admin_post_path(comment.post) %></td>

            </tr>
      <% end %>
        <%= paginate @comments %>
    </table>
    </div>
</div>

</div>
