<div class="row justify-content-end">
  <div class="col-2">
  まだ会員ではない方 <%= link_to "こちら", new_member_registration_path, class: "btn btn-outline-secondary btn-sm" %>
  </div>
</div>

<div class = "container col-lg-3">
   <h3 class="section-ttl font-weight-bold">会員ログイン</h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <table class="customer_info customer_form">
          <tbody>
          <br>
              <p>メールアドレス</p>
              <p><%= f.email_field :email, autocomplete: "email", :size=>"50", :placeholder =>"例：test@test.com" %></p>
          <br>
              <p>パスワード</p>
              <p><%= f.password_field :password, autocomplete: "new-password", :size=>"50", :placeholder =>"例：6文字以上の半角英数字" %></p>

         </tbody>
        </table>

        <div class="actions d-grid gap-1 col-5 mx-auto">
          <%= f.submit "ログイン",class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>
</div>