<header class="border-bottom border-dark mb-5">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="col-lg-4">
      <%= link_to "旅ラフ", root_path, class: "btn btn-outline-dark btn-lg text-left px-5" %>
      </div>
      <div class="col-lg-6 float-end text-right">
        <% if admin_signed_in? %>
            <%#= link_to "商品一覧", admin_items_path, class: "btn btn-outline-dark mx-1" %>
            <%#= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-dark mx-1" %>
            <%#= link_to "注文履歴一覧", admin_path, class: "btn btn-outline-dark mx-1" %>
            <%#= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-dark mx-1" %>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: "btn btn-outline-dark mx-1" %>
        <% elsif member_signed_in? %>
            <%= link_to "マイページ", mypage_path, class: "btn btn-outline-dark mx-2" %>
            <%#= link_to "商品一覧", items_path, class: "btn btn-outline-dark mx-2" %>
            <%= link_to "ログアウト", destroy_member_session_path, method: :delete,class: "btn btn-outline-dark mx-2" %>
        <% else %>
            <%#= link_to "About", about_path, class: "btn btn-outline-dark mx-2" %>
            <%#= link_to "商品一覧", items_path, class: "btn btn-outline-dark mx-2" %>
            <%= link_to "新規登録", new_member_registration_path, class: "btn btn-outline-dark mx-2" %>
            <%= link_to "ログイン", new_member_session_path, class: "btn btn-outline-dark mx-2" %>
            <%= link_to 'ゲストログイン（閲覧用）', guest_path, method: :post, class: "btn btn-outline-dark mx-2" %>
        <% end %>

      </div>
    </div>
  </nav>
</header>