<!DOCTYPE html>
<html>
  <head>
    <title>TabiLaugh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- FontAwesomeのアイコンを使えるようにするURL-->
    <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
    <!-- FontAwesomeのアイコンにアニメーションを付けられるURL-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  </head>

  <body>
    <div class="container-app">
      <%= render 'layouts/header' %>
      <main>
        <%= yield %>
      </main>

      <footer class="<%= (admin_signed_in? ? "admin_footer" : "" ) %>"></footer>
    </div>
  </body>
</html>
